.contact {
  padding: 70px 20px 50px 20px;
  background: #22223b;
  color: #fff;
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto 25px auto;
  gap: 12px;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.contact-form button {
  background: #4ea8de;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}
.contact-form button:hover {
  background: #2894c6;
}
.socials {
  margin-top: 18px;
  display: flex;
  gap: 18px;
  justify-content: center;
}

.socials a {
  color: #4ea8de;
  font-size: 2rem;
  transition: color 0.2s, transform 0.2s;
}

.socials a:hover {
  color: #7ae582;
  transform: scale(1.15);
}

