.projects {
  background: #fff;
  padding: 100px 50px;
  text-align: center;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.card {
  width: 250px;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  box-shadow : 0 0 10px black;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
.card-text{
  height:200px;
}
.project-link {
  display: inline-block;
  margin-top: 10px;
  background-color: #4ea8de;
  color: #fff;
  padding: 7px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s;
  font-weight: 600;
}
.project-link:hover {
  background-color: #2894c6;
}
